<center><style>
body {background-color: powderblue;}
h1   {color: darkblue;}
form    {color: blue;}
body {
  font-family: Copperplate, Papyrus, fantasy;
}
</style>
<h1>Hello there...</h1>
<img src=https://images.indianexpress.com/2019/08/obi-wan-759.jpg><br><br>
<form action="/result" method="post">
<label for="name" colour="blue">What is your name?</label><br><br>
<input type="text" id="name" name="name"><br><br>
<label for="birthday">When is your birthday?</label><br><br>
<input type="date" id="birthday" name="birthday"><br><br>
<input type="submit" value="May the Force be with you">
</form></center>
